extends layout

block content
  div(ng-app="hcChart",ng-controller="ChartCtrl")
    .container-fluid
      .row
        h2 SmartMatches
        a(href='/admin/topsmartmatches' target='_blank') Get Top SmartMatches

block scripts

