extends layout

block content
  div(ng-app="hcChart",ng-controller="ChartCtrl")
    .container-fluid
      .row
        h2 SmartMatches
        a(href='/admin/topsmartmatches' target='_blank') Get Top SmartMatches
        form(action="/admin/topsmartmatches" method="POST" enctype="multipart/form-data")
          input(type='file' name='matches')
          input(type='submit' val='Upload')
        p
          #{message}
      .row
        h2 Other
        p
          a(href='/admin/projectwithoutmember' target='_blank') Get At Least 30 Days Old Project Without a Member
        p
          a(href='/admin/ngoswithoutprojects' target='_blank') Get NGOs Without Projects

block scripts

