extends layout

block content
    div(ng-app="hcChart")
        div(ng-controller="ChartCtrl")
            div(data-ac-chart="'bar'"  data-ac-data="data" data-ac-config="config"  class="chart",style="width:1000px;height:500px")

block scripts
    script(type="text/javascript", src="/js/chartApp.js")
