doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/js/lib/angular/angular.min.js")
    script(type="text/javascript", src="/js/lib/d3/d3.min.js")
    script(type="text/javascript", src="/js/lib/angular-charts/dist/angular-charts.min.js")
  body
    block content
    block scripts