doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/lib/jquery-ui/themes/redmond/jquery-ui.min.css')
    script(type="text/javascript", src="/js/lib/angular/angular.min.js")
    script(type="text/javascript", src="/js/lib/d3/d3.min.js")
    script(type="text/javascript", src="/js/lib/angular-charts/dist/angular-charts.min.js")
    script(type="text/javascript", src="/js/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/js/lib/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/lib/angular-bootstrap/ui-bootstrap.min.js")
    script(type="text/javascript", src="/js/lib/jquery-ui/jquery-ui.min.js")
    script(type="text/javascript", src="/js/lib/jquery-ui/ui/datepicker.js")
  body
    block content
    block scripts