# Install git in order to be able to bundle gems from git
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MONGO_DB
    value: charity
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MONGO_HOST
    value: ec2-52-10-132-55.us-west-2.compute.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MONGO_PORT
    value: 27017
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
files:
  /etc/nginx/conf.d/gzip.conf:
    content: |
      gzip_comp_level 4;
      gzip_vary on;
      gzip_proxied any;
      gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  /etc/nginx/.htpasswd:
    content: |
      mrcharity:madrid23
