body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
text {
  text-anchor: end !important;
  transform: rotate(-65deg);
}
.ac-chart svg {
  height: 800px !important;
}
